<template>
    <div id="app">
        <router-view />

        <v-settings-modal></v-settings-modal>
    </div>
</template>

<script>
import SettingsModal from '@/02_partials/organisms/settings-modal';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: 'App',
    computed: {
        ...mapGetters([
            'myLocationName'
        ])
    },
    methods: {
        ...mapActions([
            'storeMainCitiesWeatherInformation',
            'storeMyLocationWeatherInformation',
            'setPreferredUnit'
        ])
    },
    mounted () {
        if (this.myLocationName) {
            this.storeMyLocationWeatherInformation()
                .catch((error) => {
                    if (error && error.body && error.body.cod === '404' && error.body.message) {
                        this.$buefy.toast.open({
                            duration: 5000,
                            message: 'Sorry, we got following error: ' + error.body.message,
                            position: 'is-bottom',
                            type: 'is-danger'
                        })
                    }
                })
        }


        this.storeMainCitiesWeatherInformation()
            .catch(() => {
                this.$buefy.toast.open({
                    duration: 5000,
                    message: 'Sorry, there are some issue with our data provider. Please refresh the browser. Thank you!',
                    position: 'is-bottom',
                    type: 'is-danger'
                })
            })
    },
    components: {
        vSettingsModal: SettingsModal
    }
}
</script>

<style lang="scss">
body {
    background: #fafbff;
    min-height: 100vh;
}

#app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: calc(100% - 40px);
    margin: 0 20px;

    @media (min-width: 769px) {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }
}
</style>
