<template>
    <div class="settings-modal">
        <b-modal
            v-model="modalOpened"
            has-modal-card
            trap-focus
            :destroy-on-hide="false"
            aria-role="dialog"
            aria-label="settings modal"
            aria-modal>
            <template>
                <div class="main-section">
                    <v-title class="title" title="Settings"></v-title>

                    <div class="preferred-unit-wrapper">
                        <div class="label">Preferred unit: </div>
                        <b-radio v-model="userPreferredUnit"
                                 name="preferredUnit"
                                 :native-value="metric">
                            Celsius
                        </b-radio>
                        <b-radio v-model="userPreferredUnit"
                                 name="preferredUnit"
                                 :native-value="imperial">
                            Fahrenheit
                        </b-radio>
                    </div>

                </div>
            </template>
        </b-modal>
    </div>
</template>

<script>
import Title from '../atoms/title';

import { EnumPreferredUnit } from '@/05_utils/enums';
import { mapActions, mapGetters } from 'vuex';

export default {
    data () {
        return {
            modalOpened: null,
            userPreferredUnit: null
        };
    },
    computed: {
        ...mapGetters([
            'isModalOpened',
            'preferredUnit'
        ]),
        metric () {
            return EnumPreferredUnit.METRIC;
        },
        imperial () {
            return EnumPreferredUnit.IMPERIAL;
        }
    },
    watch: {
        userPreferredUnit (newValue) {
            this.setPreferredUnit(newValue);
        },
        isModalOpened (newValue) {
            this.modalOpened = newValue;
        },
        modalOpened (newValue) {
            this.setModalVisibility(newValue);
        }
    },
    methods: {
        ...mapActions([
            'setModalVisibility',
            'setPreferredUnit'
        ])
    },
    mounted () {
        /**
         * initialisation of the values
         */
        this.userPreferredUnit = this.preferredUnit;
        this.modalOpened = this.isModalOpened;
    },
    components: {
        vTitle: Title
    }
};
</script>

<style lang="scss">
.settings-modal {
    .main-section {
        position: absolute;
        width: 400px;
        height: 400px;
        padding: 20px;
        box-sizing: border-box;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .location-wrapper {
            margin-bottom: 20px;
        }
    }
}
</style>
