<template>
    <section class="detailed-info-card">
        <article class="main-part">
            <div class="description">
                {{ description }}
            </div>
            <div class="main-temperature">
                {{ mainTemperature }}
            </div>
            <div class="temperature-ranges">
                <div class="max-temp">H: {{ maxTemperature }}</div>
                <div class="min-temp">L: {{ minTemperature }}</div>
            </div>
        </article>

        <aside class="side-part">
            <div class="times-wrapper">
                <div class="sunrise-info">
                    <div><strong>Sunrise</strong></div>
                    <div class="value">{{ sunriseTime }}</div>
                </div>
                <div class="sunset-info">
                    <div><strong>Sunset</strong></div>
                    <div class="value">{{ sunsetTime }}</div>
                </div>
            </div>
            <div class="other-info-wrapper">
                <div class="humidity-info">
                    <div><strong>Humidity</strong></div>
                    <div class="value">{{ humidity }}%</div>
                </div>
                <div class="visibility-info">
                    <div><strong>Visibility</strong></div>
                    <div class="value">{{ visibility }}</div>
                </div>
            </div>
        </aside>
    </section>
</template>

<script>
import { celsiusToFahrenheitConvertedFormat } from '@/05_utils/utils';
import { mapGetters } from 'vuex';

export default {
    props: {
        weatherInfo: {
            type: Object
        }
    },
    computed: {
        ...mapGetters([
            'preferredUnit'
        ]),
        description () {
            return this.weatherInfo && this.weatherInfo.weather && this.weatherInfo.weather[0] && this.weatherInfo.weather[0].main;
        },
        mainTemperature () {
            const _temp = this.weatherInfo && this.weatherInfo.main && this.weatherInfo.main.temp;
            return _temp ? this.getCorrectFormatOfTemp(_temp) : '';
        },
        minTemperature () {
            const _minTemp = this.weatherInfo && this.weatherInfo.main && this.weatherInfo.main.temp_min;
            return _minTemp ? this.getCorrectFormatOfTemp(_minTemp) : '';
        },
        maxTemperature () {
            const _maxTemp = this.weatherInfo && this.weatherInfo.main && this.weatherInfo.main.temp_max;
            return _maxTemp ? this.getCorrectFormatOfTemp(_maxTemp) : '';
        },
        sunriseTime () {
            const _timeInUnix = this.weatherInfo && this.weatherInfo.sys && this.weatherInfo.sys.sunrise;
            return this.formatTimes(_timeInUnix);
        },
        sunsetTime () {
            const _timeInUnix = this.weatherInfo && this.weatherInfo.sys && this.weatherInfo.sys.sunset;
            return this.formatTimes(_timeInUnix);
        },
        humidity () {
            return this.weatherInfo && this.weatherInfo.main && this.weatherInfo.main.humidity;
        },
        visibility () {
            const _visibilityInMeter = this.weatherInfo && this.weatherInfo.visibility;
            if (_visibilityInMeter && _visibilityInMeter >= 1000) {
                const _visibilityInKM = _visibilityInMeter/1000;
                const _test = _visibilityInKM.toFixed(2);
                return _test + ' Km';
            } else {
                return _visibilityInMeter + ' m';
            }
        }
    },
    methods: {
        formatTimes (timeInUnix) {
            const _date = new Date(timeInUnix * 1000);
            const _hours = '0' + _date.getHours();
            const _minutes = '0' + _date.getMinutes();
            const _seconds = '0' + _date.getSeconds();
            return _hours.substr(-2) + ':' + _minutes.substr(-2) + ':' + _seconds.substr(-2);
        },
        getCorrectFormatOfTemp (temp) {
            return celsiusToFahrenheitConvertedFormat(this.preferredUnit, temp);
        },
    }
};
</script>

<style lang="scss">
.detailed-info-card {
    width: 60%;
    box-sizing: border-box;
    margin: 20px auto 0 auto;

    .main-part {
        margin-bottom: 50px;
    }

    @media (min-width: 769px) {
        display: flex;

        .main-part,
        .side-part {
            box-sizing: border-box;
            width: 50%;
            padding: 20px;
        }

        .main-part {
            margin-bottom: 0;
        }
    }

    .main-part {
        .description {
            text-align: center;
            font-size: 20px;
        }

        .main-temperature {
            text-align: center;
            font-size: 40px;
        }

        .temperature-ranges {
            display: flex;

            .max-temp,
            .min-temp {
                font-size: 18px;
                width: 50%
            }

            .min-temp {
                text-align: right;
            }
        }
    }

    .side-part {
        .times-wrapper,
        .other-info-wrapper {
            display: flex;
            height: 60px;

            .value {
                font-size: 18px;
            }

            .sunrise-info,
            .sunset-info,
            .humidity-info,
            .visibility-info {
                width: 50%;
                text-align: center;
            }

            .sunrise-info,
            .humidity-info {
                border-right: 1px solid #000;
            }
        }

        .times-wrapper {
            border-bottom: 1px solid #000;
        }

        .other-info-wrapper {
            .humidity-info,
            .visibility-info {
                padding-top: 10px;
            }
        }
    }
}
</style>
