<template>
    <nav class="weather-nav">
        <div
            v-if="isBackAvailable"
            class="back-icon"
            @click="backClicked">
            <img alt="back-button"  src="https://img.icons8.com/ios/50/000000/circled-left-2.png"/>
        </div>

        <div class="settings-icon-btn"
             @click="openSettingsModal">
            <img alt="settings-button" src="https://img.icons8.com/ios/50/000000/settings.png"/>
        </div>

        <v-title :title="title ? title : 'title'"></v-title>
    </nav>
</template>

<script>
import { mapActions } from 'vuex';

import Title from '../atoms/title';

export default {
    props: {
        isBackAvailable: {
            type: Boolean,
            default: true
        },
        title: {
            type: String
        }
    },
    methods: {
        ...mapActions([
            'setModalVisibility'
        ]),
        backClicked () {
            this.$router.push({ name: 'Dashboard' })
        },
        openSettingsModal () {
            this.setModalVisibility(true);
        }
    },
    components: {
        vTitle: Title
    }
};
</script>

<style lang="scss">
.weather-nav {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid grey;

    .back-icon,
    .settings-icon-btn {
        position: absolute;
        top: 27px;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .back-icon {
        left: 20px;
        width: 30px;
        height: 30px;
    }

    .settings-icon-btn {
        right: 20px;
    }
}
</style>
