<template>
    <h1 class="title">{{ title }}</h1>
</template>

<script>
export default {
    props: {
        title: {
            type: String
        }
    }
};
</script>

<style lang="scss">
.title {
    text-align: center;
}
</style>
