<template>
  <div class="city">
      <v-nav :title="selectedCityInfo.name"></v-nav>
      <v-detailed-info-card
          :weather-info="selectedCityInfo">
      </v-detailed-info-card>
  </div>
</template>

<script>
import Nav from '../02_partials/molecules/nav';
import DetailedInfoCard from '../02_partials/molecules/detailed-info-card';

import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters([
            'selectedCityInfo'
        ])
    },
    components: {
        vNav: Nav,
        vDetailedInfoCard: DetailedInfoCard
    }
};
</script>

<style lang="scss">
.city {

}
</style>
