<template>
    <div class="home">
        <v-nav title="Dashboard" :is-back-available="false"></v-nav>

        <div class="columns">
            <div class="column my-location-column" v-if="!isLocationInEdit">
                <div v-if="!myLocationName"
                    class="no-my-location-wrapper"
                     @click="editMyLocation">
                    Type your location
                    <img alt="edit-button"
                         src="https://img.icons8.com/material-outlined/24/ffffff/edit--v1.png"
                         class="my-location-edit-button" />
                </div>
                <div v-else
                    class="my-location-wrapper">
                    <span class="city-name">{{ myLocationWeatherInfo && myLocationWeatherInfo.name }}</span>
                    <span class="city-temp" v-html="getCorrectFormatOfTemp(myLocationWeatherInfo && myLocationWeatherInfo.main && myLocationWeatherInfo.main.temp)"></span>
                    <img class="my-location-edit-button"
                         alt="edit-button"
                         src="https://img.icons8.com/material-outlined/24/ffffff/edit--v1.png"
                         @click="editMyLocation"/>
                    <img class="my-location-select-button"
                         alt="select-city-button"
                         src="https://img.icons8.com/ios-glyphs/30/ffffff/circled-right.png"
                         @click="citySelected(2)"/>
                </div>
            </div>

            <div class="column my-location-input-column" v-else>
                <b-input
                    class="my-location-input-field-wrapper"
                    size="is-small"
                    placeholder="Enter your city name"
                    v-model="userTypedLocationName"
                    @keydown.native.enter="enterOnMyLocation"></b-input>
                <div class="my-location-submit-button-wrapper">
                    <b-button
                        size="is-small"
                        type="is-primary"
                        inverted
                        outlined
                        :disabled="userTypedLocationName.length < 1"
                        @click="submitMyLocationName">Submit</b-button>
                </div>
            </div>

            <div
                v-for="(city, index) in mainGroupCitesWeather"
                :id="city.id"
                :key="city.id"
                class="column active"
                @click="citySelected(index)">
                <span class="city-name">{{ city.name }}</span>
                <span class="city-temp" v-html="getCorrectFormatOfTemp(city.main && city.main.temp)"></span>
                <img class="select-city-button"
                     alt="select-city-button"
                     src="https://img.icons8.com/ios-glyphs/30/ffffff/circled-right.png" />
            </div>
        </div>

        <b-loading :is-full-page="true" v-model="isAPICallingOnMainGroupCitesWeather" :can-cancel="false"></b-loading>
    </div>
</template>

<script>
import Nav from '@/02_partials/molecules/nav';

import { celsiusToFahrenheitConvertedFormat } from '@/05_utils/utils';
import { mapActions, mapGetters } from 'vuex';

export default {
    data () {
        return {
            isLocationInEdit: false,
            userTypedLocationName: ''
        };
    },
    computed: {
        ...mapGetters([
            'isAPICallingOnMainGroupCitesWeather',
            'mainGroupCitesWeather',
            'isModalOpened',
            'myLocationName',
            'myLocationWeatherInfo',
            'preferredUnit'
        ])
    },
    methods: {
        ...mapActions([
            'setSelectedCity',
            'setMyLocationName',
            'storeMyLocationWeatherInformation'
        ]),
        getCorrectFormatOfTemp (temp) {
            return temp ? celsiusToFahrenheitConvertedFormat(this.preferredUnit, temp) : '';
        },
        citySelected (index) {
            let _selectedCityInfo
            if (index < 2) {
                _selectedCityInfo = this.mainGroupCitesWeather[index];
            } else {
                _selectedCityInfo = this.myLocationWeatherInfo;
            }

            this.setSelectedCity(_selectedCityInfo);
            this.$router.push({ name: 'City', params: { cityName: _selectedCityInfo.name } });
        },
        enterOnMyLocation () {
            this.submitMyLocationName();
        },
        editMyLocation () {
            this.isLocationInEdit = true;
        },
        submitMyLocationName () {
            this.setMyLocationName(this.userTypedLocationName);
            this.storeMyLocationWeatherInformation()
                .then(() => {
                    this.isLocationInEdit = false;
                })
                .catch((error) => {
                    if (error && error.body && error.body.cod === '404' && error.body.message) {
                        this.$buefy.toast.open({
                            duration: 5000,
                            message: 'Sorry, we got following error: ' + error.body.message,
                            position: 'is-bottom',
                            type: 'is-danger'
                        })
                    }
                })
        }
    },
    components: {
        vNav: Nav
    }
};
</script>

<style lang="scss">
.home {
    .columns {
        margin: 0;

        @media (min-width: 769px) {
            margin-top: 20px;
        }
    }

    .column {
        display: flex;
        width: 100%;
        background-color: #33acf3;
        color: #fff;
        border: 1px solid #fff;
        box-sizing: border-box;
        margin: 10px 0;

        @media (min-width: 769px) {
            margin: 0 10px;
        }

        &.active {
            cursor: pointer;

            &:hover {
                background-color: #0c73b1;
            }
        }

        .city-name,
        .city-temp {
            box-sizing: border-box;
            display: block;
            width: 50%;
            padding: 0 15px;
        }

        .city-name {
            text-align: left;
            line-height: 30px;
        }

        .city-temp {
            text-align: right;
            line-height: 30px;
        }

        &.my-location-input-column {
            position: relative;
            display: flex;
            width: 100%;

            .my-location-input-field-wrapper {
                width: 60%;
            }

            .my-location-submit-button-wrapper {
                margin-left: 20px;
            }
        }

        .no-my-location-wrapper,
        .my-location-wrapper {
            display: flex;
            position: relative;
            width: 100%;
        }

        .my-location-wrapper {
            position: relative;

            .my-location-edit-button {
                position: absolute;
                right: 50px;
                box-sizing: border-box;
                padding: 0 10px;
                top: 1px;
                cursor: pointer;
            }

            .my-location-select-button {
                position: absolute;
                right: 0;
                top: -2px;
                width: 40px;
                height: 30px;
                padding-left: 10px;
                box-sizing: border-box;
                cursor: pointer;
            }

            .city-name {
                padding-left: 15px;
                width: auto;
            }

            .city-temp {
                margin-left: 0;
                padding-left: 0;
                text-align: left;
            }
        }

        .no-my-location-wrapper {
            .my-location-edit-button {
                position: absolute;
                top: 0;
                right: 0;
                width: 45px;
                height: 25px;
                cursor: pointer;
                box-sizing: border-box;
                padding-left: 20px;
            }
        }
    }
}
</style>
